<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdvanceWinform.Properties.Settings.WinFormDbConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WinFormDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.4.5.2" publicKeyToken="944ae1ea0e47ca04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.20232.620" newVersion="4.5.20232.620" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>